body{
    background: gainsboro;
    margin:0;
}
header{
    background-color: white;
    padding:10px;
}
header h1{
    margin:0;
}
div.postal{
    background: white;
    margin: top 10px;
}
div.postal img{
    width:100%;
}
div.postal cabecera div:first-child{
    display: inline-block;
    width: 80%;
}
div.postal cabecera div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}
div.postal h2, div. postal p{
    padding:10px;
    margin: 0;
}
div.contenedor{
    width:600px;
    margin:auto;
}