body{
    background: gainsboro;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header{
    background: white;
    padding:10px;
    font-size: xx-small;
}
header h1{
    margin:0;
}
div.post{
    background: white;
    margin-top: 10px;
}
div.post img{
    width:100%;
}
div.post .cabecera div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .cabecera div:last-child{
    display: inline-block;
    width: 15%;
    padding: 10px;
    text-align: right;
    color: gray;    
}
div.post h2, div.post p{
    padding:10px;
    margin: 0;
    font-size: xx-small;
}
div.contenedor{
    width:500px;
    margin:auto;
}
div.post div:last-child{
    padding: 10px;
    font-size: xx-small;
}
span{
    font-size: x-small;
}